:root {
	font-size: 16px; 
	/*This sets the font-size all over the document. Default: 16px;
	You can set all other value relative to this value. I mean, this is the easiest way to 
	changing a whole complex object with changing one value. See bottom the @media block.*/
}

body, html { 
    margin: 0;
    padding: 0;
    /* Must both parameters set when vertical scrollbar appears with min-height: 100vh. */
}

body {
	background-color: 	hsl(228, 11%, 9%);
	font-family: 'Overpass', sans-serif;
}

main {
	display: flex;
	align-items: center; 
  	justify-content: center; 
  	height: 100vh;
}

#rating, #thankyou {
	width: 24.375rem;
	height: 24.375rem;
	background-color: 	hsl(215, 22%, 15%);
	border-radius: 1.625rem;
}

#rating {
	position: relative;
	visibility: visible;
}

#thankyou {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#div-star {
	width: 2.875rem;
	height: 2.875rem;
	background-color: hsl(210, 19%, 18%);
	display: flex;
	flex-direction: row;
	align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
    margin: 2rem 2rem 1.8rem;
}

h1 {
	color: 	hsl(0, 0%, 100%);
	margin: 0 2rem;
	font-size: 1.6rem;
}

#p-please {
	color: hsl(216, 12%, 54%);
	margin: 0.7rem 2rem 1.2rem;
	font-size: 0.92rem;
	line-height: 1.5rem;
}

#div-select {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin: 0 2rem;
}

.class-select-button {
	width: 3rem;
	height: 3rem;
	background-color: hsl(210, 19%, 18%);
	color: hsl(217, 12%, 63%);
	border-radius: 50%;
	font-weight: 400;
	border: 0;
	font-size: 1.1rem;
	cursor: pointer;
}

.class-select-button:hover {
	background-color: hsl(25, 97%, 53%);
	color: hsl(0, 0%, 100%);
}

.class-select-button:focus {
	background-color: hsl(217, 12%, 63%);
	color: hsl(0, 0%, 100%);
}

#button-submit {
	height: 2.8rem;
	width: 20.3rem;
	margin: 1.7rem 2rem;
	background-color: hsl(25, 97%, 53%);
	border: 0;
	border-radius: 1.5rem;
	color: 	hsl(0, 0%, 100%);
	cursor: pointer;
}

#button-submit:hover {
	background-color: hsl(0, 0%, 100%);
	color: hsl(25, 97%, 53%);
}

#thankyou img {
	margin: 2.5rem 0 0 0;
	height: 6.5rem;
}

#div-you-selected {
	background-color: hsl(210, 19%, 18%);
	width: 12rem;
	height: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1.8rem 0 0 0;
}

#div-you-selected p {
	font-size: 0.9rem;
	color: hsl(25, 97%, 53%);
	margin: 0;
}

h2 {
	color: hsl(0, 0%, 100%);
	margin: 2rem 0 0 0;
	font-size: 1.7rem;
}

#p-appreciate {
	text-align: center;
	font-size: 0.9rem;
	color: hsl(216, 12%, 54%);
	margin: 0.9rem 2rem;
	line-height: 150%;
}

@media (max-width: 380px) {

	:root {
		font-size: 13.4px; 
	}

	#rating, #thankyou {
		height: 27rem;
	}

	h1 {
		font-size: 1.8rem;
	}

	#div-star {
		margin: 2rem 2rem 1.5rem;
	}

	#p-please {
		font-size: 1rem;
		margin: 0.7rem 2rem 2.2rem;
	}

	#button-submit {
		height: 3.3rem;
		margin: 2rem 2rem;
	}

	#thankyou img {
		height: 7rem;
	}

	#div-you-selected {
	width: 13rem;
	height: 2.5rem;
	}

	#div-you-selected p {
		font-size: 1.1rem;
	}

	#p-appreciate {
		font-size: 1rem;
	}
}